
*{
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: repeat;
    align-items: center;
    background-position: center;
}



.sign{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 40px;

}

.Back{
    margin-top: auto;
    font-size: 15px;
    text-align: center;
}

.Back a{
    color: rgb(55, 0, 255);
    cursor:pointer;
    font-weight: 500px;
    font-size: 20px;
}

.Back a:hover{
    text-decoration: underline;
}

.input-box{
    margin: 20px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 12px 12px 12px 45px;
    border-radius: 99px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    font-weight: 600;
}

.Submit-btn{
     
}

.input-box i{
    border: none;
    position: absolute;
    left: -15px;
    top: -15%;
    transform: translateX(3px);
    font-size: 50px;
    color: whitesmoke;
}