@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins";
}

/* To guide customer from CATEGORY tab to the prefered book section */
html{
    scroll-behavior: smooth;
}


/* Header Decoration */
/* Header Decoration */
header {
  z-index: 2;
  color: #cec1b2;
  background: fixed;
  background-color: #3b3e61;
  box-shadow: 0px 0px 12px 0px #000000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

header img {
  height: 100px;
  margin-left: 10px;
  margin-top: 5px;
}

header p {
  position: absolute;
  color: #cec1b2;
  font-size: 30px;
  font-weight: 500;
  transform: translateY(-115px);
  left: 150px;
}

h1 {
  color: #baaea1;
  position: relative;
  left: 130px;
  top: 0;
  line-height: 80px;
}

header ul {
  color: #cec1b2;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 85px;
  transform: translateX(0);
  list-style-type: none;
  padding: 0;
  margin: 0;
  word-spacing: 5px;
  margin-right: 20px;
  transform: translateY(10px);
}

header a {
  color: #cec1b2;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

header li {
  display: inline;
}


body{
  background-color: #ffdeab;
  margin: 0px;
  padding: 0px;
}

/* Book1 Decoration */
.book1{
    left: 0;
    top: 0;
    display: flex;
}

.image img{
    margin-top: 25px;
    margin-left: 25px;
    height:500px;
    box-shadow: 5px 10px 15px #000000;
}

.desc{
    margin-left: 50px;
    padding-right: 25px;
}

.info{
  color:#4F493F;
  font-weight: bold;
}


/* Special effect for the button */
  /* original setting for button */
  button{
    height: 40px;
    width: 150px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #4c4f75;
    transition: all 0.5s ease-in-out;
  }

  /* text original setting */
  .cart-txt{
    z-index: 1;
    font-weight: 800;
    position: relative;
    background: fixed;
  }

  /* out animation */
  .type1::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #4c4f75;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: 0;
    transform: scale(0);

  }

  /* The mouse touches it */
  .button:hover{
    color: #ffdeab;
    text-decoration: none;
    border: none;
  }

  .button:focus{
    outline: none;
  }

  /* In animation */
  .type1:hover::after{
    visibility: visible;
    transform: scale(100) translateX(2px);
  }


