@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins";
}

body{
  background-color: #ffdeab;
}

/* To guide customer from CATEGORY tab to the prefered book section */
html{
    scroll-behavior: smooth;
}


/* Header Decoration */
header{
    z-index:2;
    color:#cec1b2;
    background: fixed;
    background-color: #3b3e61;
    box-shadow: 0px 0px 12px 0px #000000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width:100%;
}

header img
{
    height: 100px;
    margin-left: 10px;
    margin-top: 5px;
}

h1{
    color:#baaea1;
    position: absolute;
    left:130px;
    top:0;
    line-height: 80px;
    -webkit-text-stroke: #4F493F;
    -webkit-text-stroke-width: 2px;
}

header ul{
    color:#cec1b2;
    font-weight: bold;
    position: absolute;
    top:0;
    line-height:85px;
    justify-content: space-evenly;
    word-spacing: 20px;
    transform: translateX(450%);
}

header a{
    color:#cec1b2;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

header li
{
    display: inline;
    width:4vw;
}

/* LPL Bookstore Slogan Decoration */
.slogan img{
    margin: 25px;
    align-items: center;
    border-radius: 20px;
}


/* Book Display Decoration */

.book{
  text-align: center;
  display: block;
  flex-wrap: nowrap;
  display: grid;
  grid-template-rows: 1fr 50px;
  margin-left: 25px;
} 

.picturebook ,.novel, .guidebook{
  display: flex;
  align-self: auto;
  display: grid;
  gap: 5em;
  grid-template-columns: repeat(auto-fit, 220px);

}

.book{
  background-color: #a9adb0;
  border-radius: 20px;
  margin-right:25px;
  padding-bottom: 5px;
  padding-top: 20px;
}

.picturebook div,.novel div, .guidebook div{
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  margin-left: 20px;
  width:280px;
}

.book img{
    height: 300px;
}

.book h3{
  color: #4c4f75;
}

/* Decoration of description for the book */
.desc_h3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 45px;
    color: #4c4f75;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.desc_p{
  font-weight: 600;
    margin-left: 300px;
    margin-right: 300px;
    color: #4c4f75;
    text-align: center;
}

/* Decoration for the dropdown list of category */
.dropdown {
  font-weight: bold;
    color: #cec1b2;
    position: relative;
    display: inline-block;
}
  
  
  .choice {
    border-radius: 10px;
    font-weight: bold;
    font-weight: bold;
    display: none;
    position: absolute;
    background-color: #a9adb0;
    opacity: 1.0;
    text-align: center;
    width: 160px;
    word-spacing: 0px;
    box-shadow: 0px 8px 8px 0px #000000;
    padding: 12px 16px;
    z-index: 1;
  }

  .selections {
    color: #cec1b2;
    background-color: #4c4f75;
    padding: 0px ;
    text-decoration: none;
    display: block;
  }

  .selections:hover {
    background-color: #f9f9f9;
    color: #4c4f75;
    opacity: 0.6;
  }

  .dropdown:hover .choice {
    display: block;
  }


  /* Special effect for the button */
  /* original setting for button */
  button{
    height: 40px;
    width: 150px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #4c4f75;
    transition: all 0.5s ease-in-out;
  }

  /* text original setting */
  .cart-txt{
    z-index: 1;
    font-weight: 800;
    position: relative;
    background: fixed;
  }

  /* out animation */
  .type1::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #4c4f75;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: 0;
    transform: scale(0);

  }

  /* The mouse touches it */
  .button:hover{
    color: #ffdeab;
    border: none;
  }

  .button:focus{
    outline: none;
  }

  /* In animation */
  .type1:hover::after{
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

