@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

*{
    font-family: 'Poppins';
}

/* TAB BAR */
.selection {
    width: 180px;
    background-color: #3f290d;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.Logo p{
  display: flex;
  margin: 5px 10px 5px;
  font-weight: 500;
  font-size: 12.5px;
  margin-top: 25px;
  transform: translateX(6px);
}

.Logo img{
  padding: 10px 3px;
  float: left;
  display: flex;
  height: 60px;
}

.selection .bar img {
  width: 100px;
  margin-bottom: 20px;
}

.selection ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.selection ul li {
  width: 180px;
}

.selection ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}

.selection ul li.active a,
.selection ul li a:hover {
  background-color: #ed9017;
  color: white;
  border-radius: 10px;
}

.selection ul li.active a:hover{
  background-color: #ed9017;
  color: white;
  border-radius: 10px;
}
.selection ul li a:hover {
  background-color: rgb(136, 136, 136);
}

/* HEADER */
.header h1{
    color: #3f290d;
    font-size: 40px;
}

/* FIELDSET */
fieldset{
    border: none;
}

/* TABLE */
.table {
  display: flex;
  background-color: #fff5;
  box-shadow: 5px 10px 10px 5px #3f290d;
  border-radius: 25px;
  overflow: hidden;
  margin: 25px auto; 
  width: 100%; 
}

.table, th, td {
  padding: 20px;
  border-collapse: collapse;
}

.short-desc {
  width: 580px; /* Set width for the Comment column */
  word-wrap: break-word; /* Wrap long words to fit the cell */
  font-size: 14px;
}

.short-button {
  width: 50px; /* Set width for the Comment column */
  word-wrap: break-word; /* Wrap long words to fit the cell */
  justify-content: center;
  align-items: center;
}

th {
  background-color: #cec7c7;
}

.content {
  text-align: center;
  width: 100%;
  max-height: calc(89% - 0.10px);
  background-color: #fffb;
  margin: 10px auto;
  border-radius: 25px;
  overflow: auto;
}

tbody tr:hover {
  background-color: #e9e3e3;
  transition: 0.2s linear;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

button
{
    border: 2px black solid;
    border-radius: 10px;
    margin-left: 20px;
}

button[type="delCat"]
{
    color: red;
    border-radius: 7px;
    border: 1px black solid;
    height: 25px;
    width: 25px;
    padding: 0;
    font-weight: 900;
    transform: translateY(-12px);
}

button[type="delCat"]:hover 
{
    background-color: #ff0000; 
    color: #ffffff; 
}

/* Special effect for the add new category button */
.add{
  height: 40px;
  width: 150px;
  position: relative;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #3f290d;
  transition: all 0.2s ease-in-out;
  margin: 30px auto;  /* Center the button */
  display: block;  /* Ensure the button is a block element */
  text-align: center;
}

.add:hover{
  background-color: #3f290d;
  color: #ED9017;
}

/* pop up FORM */
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-30%, -50%) scale(1.25);
  width: 400px;
  padding: 20px 30px;
  margin-top: 50px;
  background-color: white;
  box-shadow: #3f290d 1px 2px 3px 0px;
  border-radius: 20px;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  display: none; /* Initially hidden */
}

.popup.active {
  display: block; /* Show when active */
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.popup .form h3 {
  text-align: center;
  font-weight: bold;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup .form .info {
  margin: 15px 0px;
}

.popup .form .info label {
  font-size: 14px;
}

.popup .form .info input[type="text"],
.popup .form .info input[type="number"],
.popup .form .info input[type="date"] {
  margin-top: 5px;
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  outline: none;
  border: 1px solid #575757;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.popup .form .info button {
  margin-top: 20px;
  width: calc(100% - 20px);
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  background: #3f290d;
  color: #ED9017;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}