@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:after,*:before{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{

    background-color: #FFDEAB;
    /* background-color: #FFDEAB; */
}

header {
  z-index: 2;
  color: #cec1b2;
  background: fixed;
  background-color: #3b3e61;
  box-shadow: 0px 0px 12px 0px #000000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
}

header img {
  height: 100px;
  margin-left: 10px;
  margin-top: 5px;
}

header p {
  position: absolute;
  color: #cec1b2;
  font-size: 30px;
  font-weight: 500;
  transform: translateY(-85px);
  left: 145px;
}

h1.header
{
  margin-left: 10px;
  display: flex;
}

header ul {
  color: #cec1b2;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 85px;
  transform: translateY(18px);
  list-style-type: none;
  padding: 0;
  word-spacing: 5px;
  margin-right: 20px;
}

header a {
  color: #cec1b2;
  text-decoration: none;
  font-size: 16px;
}

header a:hover {
  text-decoration: underline;
}

header li {
  display: inline;
}

.profile{
    grid-gap: 1rem;
    display: flex;
    justify-content: center;
    align-self: center ;
    background-color: #a9adb0;
    width: 70%;
    height: 1000px;
    max-height: 100%;
    transform: translateX(22%);
    border-radius: 10px;
    padding: 20px 0px;
    box-shadow: 0px 0px 15px black;
    
}

.profile img{
    transform: translateX(-32%);
    height: 200px;
    border-radius: 50%;
    margin-left: 50px;
}

.info .information{
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
}

.info .information-1{
  transform: translateX(-15%);
  margin-top: 20px;
  font-size: 50px;
  font-weight: bold;
}

.info h2{
    margin-bottom: 10px;
}

.info p{
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width:30%;
}

/* Table to view order information */
.order{
  width: 100%;
  max-width: 1000px;
  border: 1px solid black;
  border-collapse: collapse;
  transform: translateX(-15%);
}

.order th{
  background-color: #3b3e61;
  color: white;
  text-align: left;
  font-weight: 400;
}

.order th, .order td{
  border: 1px solid black;
  padding: 8px;
}

.order tr:nth-child(even){background-color: whitesmoke;}
.order tr:hover {background-color: #ddd;}

/* links for user to rate and contact */
footer{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0%;
}

footer h2{
    font-size: 20px;
    padding-bottom: 5px;
}

footer a{
    color: white;
    padding-bottom: 5px;
}

footer a:hover{
    font-style: italic;
}

/* the edit profile section */
/* Special effect for the add new category button */
  /* original setting for button */
  .edit{
    height: 40px;
    width: 150px;
    position: relative;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #3b3e61;
    transition: all 0.2s ease-in-out;
    margin-top: 30px;
    margin-left: 30px;
  }

  .edit:hover{
    background-color: #3b3e61;
    color: #cec1b2;
  }


/* pop up FORM */
  .popup{
    position: absolute;
    top:50%;
    left: 50%;
    opacity: 0;
    transform: translateY(-10px);
    width:450px;
    padding: 10px 20px;
    margin-top: 45px;
    background-color: white;
    box-shadow: #3f290d 1px 2px 3px 0px;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 48vh; 
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
  }

  .popup.active{
    top:50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
  }

  .popup.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    cursor: pointer;
  }

  .popup .form h3{
    text-align: center;
    font-weight: bold;
    margin: 10px 0px 20px;
    font-size: 25px;
  }

  .popup .form .editinfo{
    margin:15px 0px;
  }

  .popup .form .editinfo input[type="text"], .popup .form .editinfo input[type="file"], .popup .form .editinfo input[type="password"], .popup .form .editinfo input[type="email"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #575757;
    border-radius: 5px;
  } 

  .popup .form .editinfo label {
    font-size: 14px;
}

.popup .form .editinfo input[type="date"] {
    margin-top: 5px;
    display: block;
    width: calc(100% - 20px); 
    padding: 10px;
    outline: none;
    border: 1px solid #575757;
    border-radius: 5px;
}


  .popup .form .editinfo button{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    background: #3b3e61;
    color: #cec1b2;
    border-radius: 10px;
    cursor: pointer;
  }

  .log-out{
    position: absolute;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
    background-color: #3b3e61;
    color: white;
    box-shadow: 0px 0px 0px black;
    font-size: 15px;
    font-weight: 700;
    transition: .5s;
    margin-top: 50px;
    left: 80px;
  }

  .log-out:hover{
    transform: scale(1.2);
    background-color: #383b58;
  }