@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body 
{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(252, 235, 204);
}
.receipt 
{
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 10 10px black;
    width: 1200px;
    margin: auto;
}
h1.header 
{
    font-size: 60px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}
.orderInfo
{
    font-size: 15px;
    margin-bottom: 10px;
}
table 
{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}
thead
{
    background-color: #e6e2e2;
}

th, td 
{
    padding: 10px;
    border: 1px solid #e6e2e2;
    text-align: center;
}
.id
{
    width: 50px;
}

.bImg img 
{
    width: 80px;
}
.bName
{
    width: 230px;
}
td.bName
{
    text-align: left;
}

.bType
{
    width: 100px;
}
.recName
{
    width: 130px;
}
.recEmail
{
    width: 180px;
}
.date
{
    width: 100px;
}
.bPrice
{
    width: 120px;
}

.total
{
    text-align: right;
    font-weight: bold;
    border: 2px solid;
    padding: 15px;
    font-size: 15px;
    border-color: #b9b9b9;
}
.totalValue 
{
    text-align: center;
    border: 2px solid;
    font-size: 15px;
    border-color: #b9b9b9;
}
button.backtoHome 
{
    font-family: 'Poppins';
    font-size: 12px;
    background-color: #e6e2e2;
    padding: 10px 20px;
    margin: 20px 0;
    border-color: transparent;
    border-radius: 5px;
}
button.backtoHome:hover 
{
    background-color: #bdb6b6;
    font-weight: bold;
}
button.backtoHome a 
{
    text-decoration: none;
}
button.print 
{
    border-radius: 10px;
    margin-top: 30px;
}

div.print
{
    display: flex;
    justify-content: flex-end;
}
footer
{
    text-align: center;
    margin-top: 150px;
    font-size: 15px;
}
footer a
{
    font-style: italic;
}