*
{
    margin:50px;
}


header
{
    margin: 10;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 90px;
}

hr
{
    background-color: black;
    height: 3px;
}

body
{
    background-color: #EFE9DB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.25;
    text-align: justify;
}

.about
{
    text-align: center;   
    font-size: 18px;
    color: #4F493F;
    border: 1px #936E16 solid;

}

h2
{
    margin: auto;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight:400;
    color:#4F493F;
    font-size: 30px;
    margin-bottom: 20px;
}


img
{
    width: 80%;
    display: block;
    margin: 0 auto;

}

.bold
{
    font-weight: 500;
}

footer
{
    padding-top: 50px;
    font-size: 15px;
    text-align: center;

}