@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin:50px;
}


header
{
    margin: 10;
    padding: 0;
    font-family: 'Poppins';
    text-align: center;
    font-size: 90px;
}

hr
{
    background-color: black;
    height: 3px;
    margin: 0%;
}

body
{
    background-color: #EFE9DB;
    font-family: 'Poppins';
    line-height: 1.25;
    text-align: justify;
}

.about
{
    text-align: center;   
    font-size: 18px;
    color: #4F493F;
    border: 1px #936E16 solid;

}

h2
{
    margin: auto;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight:600;
    color:#4F493F;
    font-size: 30px;
    margin-bottom: 20px;
}


img
{
    width: 80%;
    display: block;
    margin: 0 auto;

}

.bold
{
    font-weight: 500;
}

footer
{
    padding-top: 50px;
    font-size: 15px;
    text-align: center;
}

h3
{
    color: #453309;
    background-color: #E3DED1;
    margin: 0;
    margin-top: 200px;
    padding: 50px;
    text-align: center;
}

.contact
{
    text-align: center;
    transform: translateY(-80px);
}

