@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:after,*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background-color: #E0D5BF;
}

.border{
    display: block;
    width: 100%;
    height: 100px;
    background-color: #BDAC96;

}

img{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
}

.container{
    position: absolute;
    transform: translateX(120%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs{
    display: flex;
    position: relative;
    background-color: #BDAC96;
    box-shadow: 0 0 1px 0 rgba(#E0D5BF, 0.15), o 6px 12px 0 rgba(#E0D5BF, 0.15);
    padding: 0.75rem;
    border-top-left-radius: 99px;
    border-top-right-radius:  99px;
    transform: translateY(22px);

    *{
        z-index: 2;
    }
}   

input[type="radio"]
{
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px;
    border-top-left-radius: 99px;
    border-top-right-radius:  99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    transform: translateY(11px);
    font-size: 20px;
    font-weight: 500;
    transition: 3s;
}

.tab a{
    text-decoration: none;
    color: black;
}

.tab a:hover{
    font-weight: bold;
    text-transform: uppercase;
}

input[type="radio"]{
    &:checked {
		& + label {
			}
		}
	}

 input[id="radio-1"] {
	&:checked {
		& ~ .glider {
			transform: translateX(0);
            bottom: 0.5px;
		}
	}
}

input[id="radio-2"] {
	&:checked {
		& ~ .glider {
			transform: translateX(100%);
            bottom: 0.5px;
		}
	}
}

input[id="radio-3"] {
	&:checked {
		& ~ .glider {
			transform: translateX(200%);
            bottom: 0.5px;
		}
	}
} 

input[id="radio-4"] {
	&:checked {
		& ~ .glider {
			transform: translateX(300%);
            bottom: 0.5px;
		}
	}
} 

.glider{
    position: absolute;
	display: flex;
	height: 54px;
	width: 200px;
	background-color: #E0D5BF;
	z-index: 1;
	border-top-left-radius: 99px;
    border-top-right-radius: 99px;
	transition: 0.25s ease-out;
    transform: translateY(12px);
}

.content-background{
    background-color: #8D765B;
    width: 300px;
    height: 220px;
    position: absolute;
    transform: translateY(-40px);
}

.content-background-1{
    transform: translateX(20%);
    background-color: #BDAC96;
    width: 400px;
    height: 300px;
    position: absolute;
}

.content{
    text-align: start;
    position: absolute;
    width: 100%;
    left: 5%;
    font-size: 25px;
}

.content strong{
    font-size: 60px;
    font-weight: bold;
}

.sign-up_btn{
    margin: 10px auto;
    padding: 10px 0;
    margin-right: 10px;
    text-align: center;
    background-color: #8D765B;
    width: 150px;
    height: 50px;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
    transition: 0.3s;
}

.sign-up_btn a1{
    text-decoration: none;
    color: white;
    text-align: center;
}

.sign-up_btn:hover, a1:hover{
    background-color: #BDAC96;
    width: 170px;
    height: 50px;
    
}

.Book1{
    margin: 350px 70%;
    width: 200px;
    height: 300px;
    position: fixed;
}

.TxT_Exp{
    
}

.pick_selection{
    width: 30%;
    height: 12%;
    justify-self: start;
    transform: translateY(500%);
    margin-left: 10%;
    position: absolute;
}

#pick_btn{
    color: black;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transform: translateY(1340%);
    margin-left: 17%;
    cursor: pointer;
}
