@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    font-family: "Poppins";

}

header {
    z-index: 2;
    color: #cec1b2;
    background: fixed;
    background-color: #3b3e61;
    box-shadow: 0px 0px 12px 0px #000000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

header img {
    height: 100px;
    margin-left: 10px;
    margin-top: 5px;
}

header p {
    position: relative;
    color: #cec1b2;
    font-size: 30px;
    font-weight: 500;
    transform: translateY(-85px);
    left: 150px;
    top: -30px;
}

h1 {
    color: #baaea1;
    position: relative;
    left: 130px;
    top: 0;
    line-height: 80px;
    -webkit-text-stroke: #4F493F;
    -webkit-text-stroke-width: 2px;
}

header ul {
    text-decoration: none;
    color: #cec1b2;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 85px;
    transform: translateX(0);
    list-style-type: none;
    padding: 0;
    margin: 0;
    word-spacing: 5px;
    margin-right: 20px;
}

header a {
    color: #cec1b2;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

header li {
    display: inline;
    padding-left: 25px;
}

.selections {
    color: #cec1b2;
    background-color: #4c4f75;
    padding: 0px;
    text-decoration: none;
    display: block;
}

.selections:hover {
    background-color: #f9f9f9;
    color: #4c4f75;
    opacity: 0.6;
}

h1
{
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

fieldset{
    margin-bottom: 15px;
    padding-bottom: 0px;
}

fieldset.userdata
{
    width: 400px;
    border: transparent;
    position: relative;
}

body
{
    background-color: #EFE9DB;
}

form
{
    margin: 100px;
    line-height: 30px;
}

tr img
{
    transform: translateX(-5px) translateY(5px);
}

tr.user
{
    display: flex;
    margin: 20px;
    padding: 10px;
}

td.name,.tel,.email_user,.message
{
    font-weight: 700;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
}

input,textarea
{
    width: 500px;
    border:2px #4F493F solid;
    padding: 3px ;
    font-size: 18px;
}

button
{
    font-family: 'Poppins';
    width: 80px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 30px;
    padding: 10px;
    transform: translateX(600px);
}

td.button
{
    padding: 50px;
}

button[type="reset"]
{
    border: 2px rgb(220, 87, 87) solid;
}

button[type="reset"]:hover
{
    border: 1px red solid;
    color: red;
    font-weight: bold;
}

button[type="submit"]:hover
{
    border: 1px white solid;
    color: #4F493F;
    font-weight: bold;
}
.required
{
    color: red;
    margin: 0;
}

hr
{
    margin-top: 200px;
    height: 250px;
    background-color: #4F493F;
    margin-bottom: 0px;
}

table.information
{
    margin-top: 50px;
    line-height: 2;
}

.information th
{
    font-size: 15px;
    text-align: left;
    width: 500px;
    color: white;
}

.information td
{
    font-size: 14px;
    color: white; 
}

td.email
{
    font-style: italic;
    text-decoration: underline;
}

fieldset.information
{
    transform: translateY(-225px);
    width: 1000px;
    border: transparent;
    margin-bottom: 0px;
}

footer{
    padding-top: 0px;
    margin-top: 0px;
}

footer td{
    bottom: 0;
    font-size: 20px;
    font-weight: 500;

}