@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

body {
    margin: 0;
    display: flex;
    background: linear-gradient(25deg, #f6e7ca, #e0a456, #ed9017);
}

.selection {
    width: 200px;
    background-color: #3f290d;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.Logo p {
    display: flex;
    margin: 5px 10px 5px;
    font-weight: 500;
    font-size: 12.5px;
    margin-top: 25px;
    transform: translateX(6px);
}

.Logo img {
    padding: 10px 3px;
    float: left;
    display: flex;
    height: 60px;
}

.selection .bar img {
    width: 100px;
    margin-bottom: 20px;
}

.selection ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.selection ul li {
    width: 180px;
}

.selection ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.selection ul li.active a,
.selection ul li a:hover {
    background-color: #ed9017;
    color: white;
    border-radius: 10px;
}

.selection ul li.active a:hover {
    background-color: #ed9017;
    color: white;
    border-radius: 10px;
}

.selection ul li a:hover {
    background-color: rgb(136, 136, 136);
}

/* HEADER */
.header h1 {
    color: #3f290d;
    font-size: 40px;
}

/* FIELDSET */
fieldset {
    border: none;
}

/* TABLE */
.table {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff5;
    box-shadow: 5px 10px 10px 5px #3f290d;
    border-radius: 25px;
    overflow: hidden;
    margin-left: 5px;
    transform: translateX(-10px);
}

.table, th, td {
    padding: 20px;
    border-collapse: collapse;
}

thead {
    text-align: center;
}

th {
    background-color: #cec7c7;
}

.short-comment {
    width: 280px; /* Set width for the Comment column */
    word-wrap: break-word; /* Wrap long words to fit the cell */
}

.content {
    text-align: justify;
    width: 100%;
    max-height: calc(89% - .10px);
    background-color: #fffb;
    margin: 10px auto;
    border-radius: 25px;
    overflow: auto;
}

tbody tr:hover {
    background-color: #e9e3e3;
    transition: 0.2s linear;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.print {
    margin-top: 25px;
    font-size: 25px;
}